/* 改变主题色变量 */
$--color-primary: #5b9cf8;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules//element-ui//packages/theme-chalk/src/index";

.el-button--primary{
    background:#fff;
    border:1px solid $--color-primary;
    color:$--color-primary;
    font-size:14px;
  }
  .el-submenu .el-menu-item{
      min-width:170px;
  }